{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Welcome To the CodeForBaltimore CitySync Server.</h1>
        <hr>
        <p>The frontend is still under construction!</p>
        <p>You can communicate with our backend API if the database has been seeded!</p>
    </div>
    <div>
        <h2>Example Endpoints</h2>
        <ul>
        <li>http://localhost:5000/api/orgs/id/&lt;database_record_number&gt;</li>
        <li>http://localhost:5000/api/orgs/id/&lt;database_record_number&gt;/address</li>
        <li>http://localhost:5000/api/orgs/id/&lt;database_record_number&gt;/geocode</li>
        <li>http://localhost:5000/api/orgs/ein/&lt;ein_tax_number&gt;</li>
        <li>http://localhost:5000/api/orgs/id/&lt;ein_tax_number&gt&gt;/address</li>
        <li>http://localhost:5000/api/orgs/id/&lt;ein_tax_number&gt&gt;/geocode</li>
        </ul>
        <p> See also the (work-in-progress) <a href="https://app.swaggerhub.com/apis-docs/RuAkaiSpy/citysync/1.0.0">Swagger API Documentation!</a> </p>
    </div>

{% endblock %}
